.text-link {
    color: inherit;
    text-decoration: inherit;
}

.articles-topics-footer-container{
    display:flex;
    justify-content: center;
}
.articles-container {
    width: 625px;
}


.full-article-div {
    height: 150px;
    /* make adjustments to height to 120 once you figure out body */
    border-bottom: rgb(179, 179, 179) solid 0.5px;
    padding-top: 25px;
}

.date-author-reading-list-div{
    display: flex;
    justify-content: space-between;
}

.date-article-author{
    gap: 5px
}
.article-author, .date-article-author {
    height: 20px;
    display: flex;
    align-items: center;
}

.author, .date-created, .reading-list-button{
    font-size: 13px;
}


.article-title {
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px 0px 10px;
    /* ^ change to 1.5em */
}

.article-body {
    padding-bottom: 12px;
    font-size: 1.17em;
    /* ^ change to 1.17em */
}


.user-not-logged-in-div {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    height: 350px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
  }


.image-for-front-page{
    width: 60%;
    height: 349px
}


.bookmark-icon {
    height: 12px;
}


.div-next-to-image {
  width: 40%;
  margin-left: 40px;
}

.div-next-to-image > h1 {
    padding-bottom: 0px;
}
