.article-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.article-container-logged-out {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.single-article-div{
    width: 48%;
}

.article-body, .article-title {
    overflow-wrap: break-word;
}


.article-author-and-date {
    margin-top: 17px;
    margin-bottom: 13px;
    display: flex;
    justify-content: baseline;
    gap: 5px
}

.comment-and-reading-list-buttons {
    display: flex;
    justify-content: space-between;
    border-bottom: lightgray solid 1px;
    border-top: lightgray solid 1px;
    margin-bottom: 25px;
    padding: 6px 0 6px;
}
.reading-list-button, .comments-modal-button-container > button {
    background: none;
    border: none;
    cursor: pointer;
}

.comments-icon {
    height: 12px;
}

.comments-icon-and-number-container{
    display: flex;
    gap: 8px
}



.bookmark-icon {
    height: 12px;
}

.edit-delete-buttons > button {
    background: none;
	border: none;
    font-size: 9px;
    cursor: pointer;
    color: red;
}

.article-edit-button {
    background: none;
	border: none;
    font-size: 9px;
    cursor: pointer;
}
