.article-container {
    margin-top: 100px;
}


.comment-and-reading-list-buttons {
    display: flex;
    justify-content: space-between;
}


.article-container {
    display: flex;
    justify-content: center;
}

.single-article-div{
    width: 50%
}


.article-author-and-date {
    display: flex;
    justify-content: baseline;
    gap: 5px
}

