.article-container {
    margin-top: 100px;
}


.comment-and-reading-list-buttons {
    display: flex;
    justify-content: space-between;
}


.article-container {
    display: flex;
    justify-content: center;
}

.single-article-div{
    width: 48%;
}


.article-author-and-date {
    display: flex;
    justify-content: baseline;
    gap: 5px
}

.reading-list-button, .comments-modal-button-container > button {
    background: none;
    border: none;
    cursor: pointer;
}

.comments-icon {
    height: 12px;
}

.comments-icon-and-number-container{
    display: flex;
    gap: 8px
}
