.article-body-errors {
    border-color: rgb(255, 145, 145);
    box-shadow: 0px 0px 3px  rgb(255, 145, 145);
    background-color: rgb(255, 186, 186) !important;
    height: 350px;
    width: 100%;
    resize: none;
}

.article-title-errors {
    border-color: rgb(255, 145, 145);
    box-shadow: 0px 0px 3px  rgb(255, 145, 145);
    background-color: rgb(255, 186, 186) !important;
    height: 35px;
    width: 100%;
    resize: none;
    font-size: 20px;
}
