.comments-create-read-div {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    border-left: 2px solid lightgrey;
    background-color: white;
    height: 100%;
    padding: 0px 15px 15px;
    width: 250px;

}

.comments-create {
    box-shadow: 0px 0px 10px lightgray;
}

.comment-body {
    word-wrap: break-word;
}

.comments-display {
    height: 60vh;
    overflow-y: auto;
    padding-bottom: 250px;
}

.post-comment-form {
    resize: none;
    width: 100%;
    height: 15vh;
    border: none;
    outline: none;
}

.comment-create-buttons{
    display: flex;
    justify-content: flex-end;
    padding: 15px
}

.cancle-button-comment-form {
    background: none;
	border: none;
    font-size: 12px;
    cursor: pointer;
    padding-right: 15px;
}

.submit-new-comment-button {
    background: green;
    color: white;
    border-radius: 10px;
    height: 21px;
	border: none;
    font-size: 12px;
    cursor: pointer;
}

.comment-form-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.comments-create-div-with-buttons {
    padding-bottom: 40px;
}

.commentor-name {
    display: flex;
    gap: 3px
}


.commentor-name {
    font-size: 12px;
    padding-left: 5px;
    padding-top: 5px;
}

.comment-post-date {
    font-size: 9px;
    display: flex;
    align-items: baseline;
}

.comment-body {
    padding: 8px 15px 15px;
    font-size: 12px;
    border-bottom: lightgray solid 1px;
}

.edit-delete-buttons-comments > button {
    background: none;
	border: none;
    font-size: 9px;
    cursor: pointer;
}

.commentoer-name-date-edit-delete {
    display: flex;
    justify-content: space-between;
}
